@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$col: white;
$col1: #222831;
$col2: #393e46;
$col3: #00adb5;
$col4: #eeeeee;
$font: 'Coiny', cursive;
$font1: 'Poppins', sans-serif;

// node-sass -o public/css public/sass/style.scss

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $col4;
}

body {
  background-color: $col1;
  font-style: $font1;;
}

.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box,.msgbox {
  background-color: $col2;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}

.box h1{
  font-family: $font;
}

.box .btn {
  background-color: $col3;
}

.box input,
.box select {
  background-color: $col4;
  //color: $col1;
}

#chat-span{
  color: $col3;
}

.messages {
  max-height: 400px;
  overflow-y: scroll;
}

.msgbox .btn {
  background-color: $col3;
  color: $col4;
}

.row1 {
  justify-content: space-between;
}

.message .info,.info span {
  font-size: 0.75rem;
  margin: 0;
  color: #eeeeee7e;;
}

#users{
  list-style-type: none;
  display: block;
}

.sidebar h2{
  margin-bottom: 15px;
}