@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee; }

body {
  background-color: #222831;
  font-style: "Poppins", sans-serif; }

.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.box, .msgbox {
  background-color: #393e46;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px; }

.box h1 {
  font-family: "Coiny", cursive; }

.box .btn {
  background-color: #00adb5; }

.box input,
.box select {
  background-color: #eeeeee; }

#chat-span {
  color: #00adb5; }

.messages {
  max-height: 400px;
  overflow-y: scroll; }

.msgbox .btn {
  background-color: #00adb5;
  color: #eeeeee; }

.row1 {
  justify-content: space-between; }

.message .info, .info span {
  font-size: 0.75rem;
  margin: 0;
  color: #eeeeee7e; }

#users {
  list-style-type: none;
  display: block; }

.sidebar h2 {
  margin-bottom: 15px; }
